<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Developer Blogs</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      {% if user.is_authenticated %}
      <li><a href="/account">{{user.username}}</a></li>
      <li><a href="/logout">Logout</a></li>
      {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      {% endif %}
      <li><a href="https://www.linkedin.com/in/aman-lalwani-872585132/">About me</a></li>
    </ul>
  </div>
</nav>
